.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: auto;
    height: fit-content;
}

.right {
    float: right;
}

.dropdown {
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
}

.dropdown-menu {
    position: absolute;
}

.hidden {
    display: none;
}

.more-table tr td:nth-child(2) {
    text-align: right;
}